/* MapPage Header styles */

.admin-layout > header > #header-controls > nav {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .nav-menu-item > hr {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .nav-menu-item > a:hover {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .nav-menu-item > a.active-nav-link {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header #language-controls-btn {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header > #header-controls > #language-controls:hover > #language-controls-btn {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header > #header-controls > #language-controls > #language-dropdown-menu > .language-dropdown-item {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

@media (max-width: 768px) {
    .admin-layout > header .nav-menu-item > a.active-nav-link {
        border: none;
    }

    .admin-layout#map-page > header > #burger-btn {
        border: 1px solid var(--map-editor-page-glass-border-color);
    }
}
