.admin-navigation-panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 350px;

    background: #99bcff;
}
