.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;

    background: var(--glass-bg-color);

    border: 2px solid var(--glass-border-color);
    border-radius: 50px;

    backdrop-filter: blur(var(--glass-blur-px));
    -webkit-backdrop-filter: blur(var(--glass-blur-px));

    z-index: 1000;

    transition: all 0.3s ease;

    cursor: pointer;
}

.back-to-top-btn::selection {
    background: transparent;
}

.back-to-top-btn:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    background: var(--glass-hover-bg-color);

    transform: scale(1.1);
}

.back-to-top-btn.hide {
    transform: translateX(200px); /* ховаємо вправо */
}

.back-to-top-btn:active {
    transform: scale(0.7);
}

.back-to-top-btn > img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 75%;
}
