footer {
    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--footer-bg-color);
}

footer > section {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex: 1;
}

footer > section > .footer-section-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 1;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
}

footer > section > .footer-section-info span {
    font-family: "Rubik Distressed", "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 300px) {
    footer > section > h1 {
        font-size: 20px;
    }
}
