header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;

    transition: all 1s ease;
}

header.hide {
    transform: translateY(-100px);
}

header ::selection {
    background: transparent;
}

header .mobile {
    display: none;
}

header > .logo {
    position: fixed;
    z-index: 1100;
    top: 15px;
    left: 15px;

    height: 70px;
    width: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50px;

    transition: all 0.3s ease;
}

header > .logo:hover {
    transform: scale(1.1);
}

header > .header-controls-wrapper {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
}

header .header-controls {
    position: fixed;
    z-index: 1000;
    top: 0;

    width: 100%;
}

header nav {
    position: fixed;
    z-index: 1000;
    top: 15px;
    left: 100px;

    height: 70px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 2px solid var(--glass-border-color);
    border-radius: var(--border-radius-px);

    background: var(--glass-bg-color);
    backdrop-filter: blur(var(--glass-blur-px));
    -webkit-backdrop-filter: blur(var(--glass-blur-px));

    pointer-events: auto;
}

header nav > .nav-menu-item {
    height: 100%;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius-px);
}

header nav > .nav-menu-item > a {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius-px);

    transition: all 0.3s ease;
}

header nav > .nav-menu-item > a:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    transform: scale(1.17);
    border: 1px solid var(--glass-stronger-border-color);
    background-color: var(--glass-hover-bg-color);
}

header nav > .nav-menu-item > a:active {
    transform: scale(0.75);
}

header nav > .nav-menu-item > a.active {
    text-decoration: underline;
    transform: scale(1.1);
    border: 1px solid var(--glass-stronger-border-color);
}

header nav > .nav-menu-item > a.active:hover {
    transform: scale(1.17);
}

header nav > .nav-menu-item > a.active:active {
    transform: scale(0.75);
}

header nav > .nav-menu-item > hr {
    height: 70%;
    margin: 0;

    border: 1px solid var(--glass-stronger-border-color);
    border-radius: 50px;
}

header .auth-controls {
    position: fixed;
    z-index: 1000;
    top: 15px;
    right: 145px;

    height: 70px;
    width: 90px;

    pointer-events: auto;
}

header .auth-controls > a {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--glass-bg-color);

    border: 2px solid var(--glass-border-color);
    border-radius: 30px;

    backdrop-filter: blur(var(--glass-blur-px));
    -webkit-backdrop-filter: blur(var(--glass-blur-px));

    transition: all 0.3s ease;
}

header .auth-controls > a:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    transform: scale(1.05);
    background: var(--glass-hover-bg-color);
}

header .auth-controls > a:active {
    transform: scale(0.9);
}

header .auth-controls > a > img {
    height: 100%;
    width: auto;
}

header .language-controls-wrapper {
    position: fixed;
    z-index: 1000;
    top: 15px;
    right: 15px;

    height: 70px;
    width: 115px;

    pointer-events: auto;
}

header .language-controls {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--glass-bg-color);

    border: 2px solid var(--glass-border-color);
    border-radius: var(--border-radius-px);

    backdrop-filter: blur(var(--glass-blur-px));
    -webkit-backdrop-filter: blur(var(--glass-blur-px));

    transition: all 0.3s ease;
}

header .language-controls:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    transform: scale(1.05);
    background: var(--glass-hover-bg-color);
}

header .language-controls > .language-info {
    height: 50px;
    width: 55px;

    margin-right: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

header .language-controls > .language-info > img {
    height: auto;
    width: 20px;
}

header .language-controls > img {
    height: 30px;
    width: auto;

    cursor: pointer;

    transition: all 0.3s ease;
}

header .language-controls > img.open {
    transform: scaleY(-1);
}

header .language-dropdown-menu-wrapper {
    position: fixed;
    z-index: 900;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    pointer-events: none;
}

header .language-dropdown-menu {
    width: 200px;

    margin: 95px 15px 0 0;
    padding: 0 0 5px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    list-style: none;

    transform: translateX(250px);
    pointer-events: auto;

    transition: all 0.3s ease;
}

header .language-dropdown-menu.open {
    transform: translateX(0);
}

header .language-dropdown-menu > li {
    height: 40px;
    width: 100%;

    margin-bottom: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--glass-bg-color);

    border: 2px solid var(--glass-border-color);
    border-radius: var(--border-radius-px);

    backdrop-filter: blur(var(--glass-blur-px));
    -webkit-backdrop-filter: blur(var(--glass-blur-px));

    cursor: pointer;

    transition: all 0.3s ease;
}

header .language-dropdown-menu > li:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    transform: scale(1.05);
    background: var(--glass-hover-bg-color);
}

header .language-dropdown-menu > li:active {
    transform: scale(0.9);
}

header .language-dropdown-menu > li > span {
    margin-left: 20px;
}

header .language-dropdown-menu > li.active > span {
    text-decoration: underline;
}

header .language-dropdown-menu > li > img {
    height: 100%;
    width: auto;

    margin-right: 20px;
}


@media (max-width: 768px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .mobile {
        display: block;
    }

    header > .burger-btn {
        position: fixed;
        z-index: 1100;
        top: 15px;
        right: 15px;

        height: 70px;
        width: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        background: var(--glass-bg-color);

        border: 2px solid var(--glass-border-color);
        border-radius: var(--border-radius-px);

        backdrop-filter: blur(var(--glass-blur-px));
        -webkit-backdrop-filter: blur(var(--glass-blur-px));

        cursor: pointer;

        transition: all 0.3s ease;
    }

    header > .burger-btn:hover {
        background: var(--glass-hover-bg-color);
        transform: scale(1.1);
    }

    header > .burger-btn:active {
        transform: scale(0.9);
    }

    header > .burger-btn > .burger-btn-img {
        position: absolute;

        width: 65px;
        height: 65px;

        transition: all 0.3s ease;
    }

    header > .burger-btn > .burger-btn-img.hide {
        opacity: 0;
        transform: scale(0.5) rotate(90deg);
        pointer-events: none;
    }

    header > .burger-btn > .burger-btn-img.show {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }

    header > .header-controls-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;

        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        opacity: 0;
    }

    header > .header-controls-wrapper.open {
        opacity: 1;
    }

    header .header-controls {
        position: static;

        width: 80%;

        margin-top: 100px;
        padding-bottom: 10px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);

        transition: all 0.3s ease;
    }

    header .header-controls.open {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    header nav {
        position: static;

        height: auto;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        pointer-events: inherit;
    }

    header nav > .nav-menu-item {
        height: 50px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header nav > .nav-menu-item > a:hover {
        transform: scale(1.03);
    }

    header nav > .nav-menu-item > a:active {
        transform: scale(0.95);
    }

    header nav > .nav-menu-item > a.active {
        transform: none;
        border: none;
    }

    header nav > .nav-menu-item > a.active:hover {
        transform: scale(1.03);
        border: 1px solid var(--glass-stronger-border-color);
    }

    header nav > .nav-menu-item > a.active:active {
        transform: scale(0.95);
    }

    header nav > .nav-menu-item > hr {
        height: 0;
        width: 100%;
    }

    header .auth-controls {
        position: static;

        height: 50px;
        width: 100%;

        margin-top: 10px;

        pointer-events: inherit;
    }

    header .auth-controls > a:hover {
        transform: scale(1.03);
    }

    header .auth-controls > a:active {
        transform: scale(0.95);
    }

    header .auth-controls > a > img {
        display: none;
    }

    header .language-controls-wrapper {
        position: static;

        height: 50px;
        width: 100%;

        margin-top: 10px;

        pointer-events: inherit;
    }

    header .language-controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .language-controls:hover {
        transform: scale(1.03);
    }

    header .language-controls > .language-info {
        height: 35px;
        width: 100px;

        margin-right: 15px;
        margin-left: 15px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 15px;
    }

    header .language-controls > .language-info > img {
        margin-right: 10px;
    }

    header .language-controls > img {
        margin-right: 10px;
    }

    header .language-dropdown-menu-wrapper {
        position: absolute;
        z-index: 900;
        top: 100%;
        bottom: auto;
        left: auto;
        right: auto;

        width: 100%;
        max-height: 0;

        padding: 0 10px;

        display: flex;
        justify-content: center;
        align-items: flex-start;

        overflow: hidden;
        opacity: 0;
        transform: translate(0, -10px);
        pointer-events: none;

        transition: all 0.3s ease;
    }

    header .language-dropdown-menu-wrapper.open {
        max-height: 500px;
        overflow: visible;
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: auto;
    }

    header .language-dropdown-menu {
        width: 100%;

        margin: 0;
        padding: 0;

        transform: translateX(0);
    }

    header .language-dropdown-menu > li {
        height: 45px;
        margin-bottom: 7px;
    }

    header .language-dropdown-menu > li:hover {
        transform: scale(1.03);
    }

    header .language-dropdown-menu > li:active {
        transform: scale(0.95);
    }
}

@media (max-width: 300px) {
    header .language-dropdown-menu > li > span {
        font-size: 10px;
    }
}


/* ------------ MapPage Header styles ------------ */
#map-page > header nav {
    border: 2px solid var(--map-page-glass-border-color);
}

#map-page > header nav > .nav-menu-item > a:hover {
    border: 2px solid var(--map-page-glass-border-color);
}

#map-page > header nav > .nav-menu-item > a.active {
    border: 2px solid var(--map-page-glass-border-color);
}

#map-page > header nav > .nav-menu-item > hr {
    border: 1px solid var(--map-page-glass-border-color);
}

#map-page > header .auth-controls > a {
    border: 2px solid var(--map-page-glass-border-color);
}

#map-page > header .language-controls {
    border: 2px solid var(--map-page-glass-border-color);
}

#map-page > header .language-controls > .language-info {
    border: 2px solid var(--map-page-glass-border-color);
}

#map-page > header .language-dropdown-menu > li {
    border: 2px solid var(--map-page-glass-border-color);
}

@media (max-width: 768px) {
    #map-page > header nav > .nav-menu-item > a.active {
        border: none;
    }

    #map-page > header > .burger-btn {
        border: 2px solid var(--map-page-glass-border-color);
    }
}

/* ------------ Admin Layout Header styles ------------ */
.admin-layout > header nav {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header nav > .nav-menu-item > a:hover {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header nav > .nav-menu-item > a.active {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header nav > .nav-menu-item > hr {
    border: 1px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .auth-controls > a {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .language-controls {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .language-controls > .language-info {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

.admin-layout > header .language-dropdown-menu > li {
    border: 2px solid var(--map-editor-page-glass-border-color);
}

@media (max-width: 768px) {
    .admin-layout > header nav > .nav-menu-item > a.active {
        border: none;
    }

    .admin-layout > header > .burger-btn {
        border: 2px solid var(--map-editor-page-glass-border-color);
    }
}
