.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    z-index: 10000;
}

.loading-image {
    width: 120px;
    animation: pulse 1.5s infinite ease-in-out;
}