.partial-loading-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);

    z-index: 10000;

    border-radius: inherit;
}

.loading-image {
    width: 120px;
    animation: pulse 1.5s infinite ease-in-out;
}

@media (max-width: 200px) {
    .loading-image {
        width: 90px;
    }
}