.detector-page > .input-section > .dropzone-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 300px;
    width: 90%;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px;

    background: var(--glass-bg-color);
    backdrop-filter: blur(var(--glass-blur-px));
    -webkit-backdrop-filter: blur(var(--glass-blur-px));

    border: 2px solid var(--glass-border-color);
    border-radius: var(--border-radius-px);

    cursor: pointer;

    word-spacing: 5px;

    transition: box-shadow 0.5s ease,
    text-shadow 0.5s ease,
    transform 0.5s ease,
    background-color 0.5s ease;
}

.detector-page > .input-section > .dropzone-container::selection {
    background: transparent;
}

.detector-page > .input-section > .dropzone-container:hover {
    background-color: var(--glass-hover-bg-color);
    box-shadow: 0 0 8px #3c3c3c, 0 0 16px #3c3c3c;
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;

    border: 2px solid var(--glass-stronger-border-color);

    transform: scale(1.02);
}

.detector-page > .input-section > .dropzone-container:active {
    transform: scale(0.9);
}