.feature-popup {
    min-width: 160px;
}

.feature-popup > h4 {
    margin: 0 0 8px 0;
}

.feature-popup > p {
    margin: 10px 0;
}

.feature-popup > .controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.feature-popup > .controls > div {
    height: 24px;
    width: 24px;

    border: 1px solid black;
    border-radius: 13px;
    padding: 5px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.feature-popup > .controls > div:hover {
    background: rgb(0, 0, 0, 0.2);
}

.feature-popup > .controls > div > img {
    height: 100%;
    width: auto;
}

