/* Main */
.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
    width: 100%;
}

.home-page > .main-img-section {
    height: 55vw;

    max-height: 500px;
    min-height: 450px;

    background: url("../../assets/background/leaves-bg.jpg") 0 0;
    background-size: auto 400px;
    font-size: var(--font-size-xxl);
}

.home-page > .main-img-section > h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 0;

    margin: 0;
    padding: 0;

    line-height: 1.2;
    overflow: hidden;
    cursor: default;

    animation: text-typing 1s steps(50) forwards;
}

.home-page > .main-img-section > h1::selection {
    background: transparent;
}

.home-page > section {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 500px;
    width: 100%;
}

.home-page > .data-section > div {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    height: 100%;
}

.home-page .section-info-1 {
    background-color: var(--section-info-1);
}

.home-page .section-controls-1 {
    background-color: var(--section-controls-1);
}

.home-page .section-info-2 {
    background-color: var(--section-info-2);
}

.home-page .section-controls-2 {
    background-color: var(--section-controls-2);
}

.home-page .section-info > div, .home-page .section-controls > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 95%;
    width: 95%;

    border: 1px solid var(--glass-border-color);
    border-radius: var(--border-radius-px);

    background: var(--glass-bg-color);
}

.home-page .section-info > div > h2 {
    word-spacing: 10px;
}

.home-page .section-info > div > img {
    height: auto;
    width: 300px;

    object-fit: cover;
    object-position: center;
}

.home-page .section-info-2 > div > img {
    width: 400px;
}

.home-page .section-controls > div > .service-description {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 300px;

    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    background: rgba(0, 0, 0, 0.1);

    font-size: 20px;
}

.home-page .section-controls > div > a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 10px;

    word-spacing: 5px;
    text-decoration: underline;
    color: rgb(190, 212, 255);

    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

.home-page .section-controls > div > a:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    transform: scale(1.1);
}

.home-page .section-controls > div > a:active {
    transform: scale(0.9);
}

.home-page > .img-section > img {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center;
}

@media (max-width: 1000px) {
    .home-page .section-info-2 > div > img {
        width: 350px;
    }
}


@media (max-width: 768px) {
    .home-page > .data-section {
        flex-direction: column;
        height: 1000px;
    }

    .home-page > .data-section > div {
        width: 100%;
    }

    .home-page .section-info > div, .home-page .section-controls > div {
        height: 90%;
        width: 90%;
    }

    .home-page .section-info > div > img {
        width: 60%;
        height: auto;
    }

    .home-page .section-controls > div > .service-description {
        font-size: 15px;
    }
}
