/* Main */
#services-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    width: 100%;
}

#services-page > .services-page-technology-img-section {
    background: url("../../assets/services-bg.webp") 0 0;
    background-size: auto 400px;
    font-size: var(--font-size-xl);

    height: 55vw;
    min-height: 450px;
    max-height: 500px;
}

#services-page > .services-page-technology-img-section > h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0 50px;

    line-height: 1.2;

    overflow: hidden;

    cursor: default;
}

#services-page > .services-page-technology-img-section > h1::selection {
    background: transparent;
}

#services-page > section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;
}

#services-page > .data-section > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    height: 100%;
}

#services-page .section-info-1 {
    background-color: var(--section-info-1);
}

#services-page .section-controls-1 {
    background-color: var(--section-controls-1);
}

#services-page .section-info-2 {
    background-color: var(--section-info-2);
}

#services-page .section-controls-2 {
    background-color: var(--section-controls-2);
}

#services-page .section-info > div, #services-page .section-controls > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 95%;
    width: 95%;

    background: var(--glass-bg-color);

    border: 1px solid var(--glass-border-color);
    border-radius: var(--border-radius-px);
}

#services-page .section-info > div > h2 {
    word-spacing: 10px;
}

#services-page > :nth-child(3) > img, #services-page > :nth-child(5) > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

#services-page .section-info > div > img {
    width: 300px;
    height: auto;

    object-fit: cover;
    object-position: center;
}

#services-page .section-info-2 > div > img {
    width: 400px;
    height: auto;

    object-fit: cover;
    object-position: center;
}

#services-page .section-controls > div > .service-description {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;

    width: 70%;
    height: 300px;

    padding: 10px;

    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    background: rgba(0, 0, 0, 0.1);
}
#services-page .section-controls > div > .try-service-section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
}

#services-page .section-controls > div > .try-service-section > .try-service-link {
    display: flex;
    justify-content: center;
    align-items: center;

    word-spacing: 5px;
    text-decoration: underline;
    color: rgb(190, 212, 255);

    transition: text-shadow 0.3s ease, transform 0.3s ease;
}

#services-page .section-controls > div > .try-service-section > .try-service-link:hover {
    text-shadow: 0 0 8px whitesmoke, 0 0 16px whitesmoke;
    transform: scale(1.1);
}

#services-page .section-controls > div > .try-service-section > .try-service-link:active {
    transform: scale(0.9);
}

@media (max-width: 1000px) {
    #services-page .section-info-2 > div > img {
        width: 350px;
    }
}

@media (max-width: 768px) {
    #services-page > section {
        flex-direction: column;

        height: 1000px;
    }

    #services-page > .data-section > div {
        width: 100%;
    }

    #services-page .section-info > div, #services-page .section-controls > div {
        height: 90%;
        width: 90%;
    }

    #services-page .section-info > div > img {
        width: 60%;
        height: auto;
    }
}
