@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    /* <<<<<<<<<<<< CSS variables >>>>>>>>>>>> */

    /* ------------ Global styles (CSS variables) ------------ */
    --global-text-color: rgba(255, 255, 255, 0.87);
    --global-bg-color: #242424;

    /* ------------ Glass styles (CSS variables) ------------ */
    --glass-bg-color: rgba(255, 255, 255, 0.1);
    --glass-hover-bg-color: rgba(0, 0, 0, 0.5);

    --glass-border-color: rgba(245, 245, 245, 0.1);
    --glass-stronger-border-color: rgba(245, 245, 245, 0.3);

    --black-glass-color: rgba(0, 0, 0, 0.6);

    --glass-blur-px: 5px;

    /* ------------ Radius styles (CSS variables) ------------ */
    --border-radius-px: 30px;
    --button-border-radius: 25px;

    --font-size-xxl: clamp(10px, 8vw, 90px);

    /* ------------ Footer styles (CSS variables) ------------ */
    --footer-bg-color: radial-gradient(circle, rgba(162, 199, 251, 0.4), rgb(208, 223, 253, 0.3));

    /* ------------ MainPage styles (CSS variables) ------------ */
    --section-info-1: darkslategrey;
    --section-controls-1: rgba(106, 164, 248, 0.4);

    --section-info-2: #807878;
    --section-controls-2: rgba(162, 199, 251, 0.4);

    --section-info-3: #5c8571;
    --section-controls-3: rgb(50, 50, 50);

    /* ------------ MapPage styles (CSS variables) ------------ */
    --map-page-text-color: #242424;
    --map-page-glass-border-color: rgba(68, 103, 91, 0.5);

    /* ------------ AdminLayout pages styles (CSS variables) ------------ */
    --admin-pages-text-color: rgb(174 174 174);
    --admin-pages-glass-border-color: rgba(223, 187, 251, 0.5);

    /* <<<<<<<<<<<< Base styles >>>>>>>>>>>> */
    font-family: "Rubik Distressed", "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--global-text-color);
    background-color: var(--global-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes text-typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 0.7; }
    50% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); opacity: 0.7; }
}
