@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    /* CSS variables */
    --global-text-color: rgba(255, 255, 255, 0.87);
    --global-bg-color: #242424;

    --border-radius-px: 30px;

    --glass-bg-color: rgba(255, 255, 255, 0.1);
    --glass-border-color: rgba(245, 245, 245, 0.3);
    --glass-blur-px: 5px;

    --glass-hover-bg-color: rgba(0, 0, 0, 0.5);
    /*--glass-hover-border-bg-color: rgba(245, 245, 245, 0.3);*/

    --font-size-xxl: clamp(10px, 8vw, 90px);

    /* Main page CSS variables */
    --section-info-1: darkslategrey;
    --section-controls-1: rgba(106, 164, 248, 0.4);

    --section-info-2: #807878;
    --section-controls-2: rgba(162, 199, 251, 0.4);

    --section-info-3: #5c8571;
    --section-controls-3: rgb(50, 50, 50);

    /* Map page CSS variables */
    --map-page-text-color: #242424;
    --map-page-header-bg-color: rgba(92, 133, 113, 0.5);
    --map-page-header-glass-border-color: rgba(68, 103, 91, 0.5);
    --map-page-header-language-controls-hover-bg-color: rgba(92, 133, 113, 0.75);

    /* Base styles */
    font-family: "Rubik Distressed", "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--global-text-color);
    background-color: var(--global-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
